P{
    display:inline-flex;
    justify-content: space-between;
    padding-left: 15rem;
    color: #ff5722;
    font-weight: bold;
}
h2{
text-align: center;
color:#ff5722;
}
.form{
    margin : 0 auto;
    border: 1px solid #ff5722;
    width:20rem;
    padding: 1rem;
}
input{
    padding: 0.9rem;
    border: 1px solid #ff5722;
}
.output{
    margin : 0 auto;
    width:50rem;
}
li{
    color:#a03310;
    font-size: 1rem;
}
.submit{
    color: #ff5722;
    text-transform: uppercase;
    font-weight: bold;
}