P{
    display:inline-flex;
    justify-content: space-between;
    padding-left: 16rem;  
    color: #093bac;
    font-weight: bold;
    font-size: 1.2rem;
}
h2{
text-align: center;
color:#093bac;
}
hr{
    width:40rem;
    border: 0.5px solid #031b51;
}
.form{
    margin : 0 auto;
    border: 1px solid #031b51;
    width:18rem;
    padding: 1rem;
}
input{
    padding: 0.9rem;
    border: 1px solid #031b51;
}
.output{
    margin : 0 auto;
    width:55rem;
}
.ul{
    border: 1px solid  #031b51;
   padding: 1rem;
}
li{
    color:#031b51;
    font-size: 1rem;
    padding: 0.5rem 0 0  0.9rem;
}
.submit{
    color: #031b51;
    text-transform: uppercase;
    font-weight: bold;
}